body {
  font-family: 'Roboto', sans-serif;
  color: #353535;
}

#all-wrapper {
  width: 75%;
  margin: 0 auto;
  display: grid;
  gap: 3px;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: auto auto 100px;
  grid-template-areas:
    "h h h h n n n n n n n n"
    "c c c c c c c c c c c c"
    "f f f f f f f f f f f f"
}

header {
  width: 100%;
  margin-top: 30px;
  grid-area: h;
}

#nav-wrap {
  font-size: 1.2em;
  font-weight: 600;
  grid-area: n;
  margin-left: 66px;
}

#content-wrap {
  grid-area: c;
}

footer {
  margin-top: 100px;
  grid-area: f;
}

div.plan {
  background-color: #FFD987;
  border-radius: 3px;
  padding: 10px;
  margin-bottom: 10px;
  box-sizing: border-box;
}

h4 {
  margin-block-start: .33em;
  margin-block-end: .33em;
}

button, input[type="submit"] {
  border: none;
  background-color: #ffb510;
  border-radius: 3px;
  padding: 10px;
  font-family: inherit;
  font-size: 1em;

}

.spacer {
  margin-top: 20px;
}

#logo {
  width: 275px;
}

#footer-spatula {
  width: 40px;
  display: block;
  margin: 0 auto;
}

footer > p {
  text-align: center;
}

/* TAGS */

.tag-container-div {
  display: flex;
}

.tag-div {
  background-color: #353535;
  color: #FFF;
  padding: 5px;
  margin: .2rem;
  border-radius: 3px;
}

/* MEALS */
.meal-div > p {
  margin-block-start: 0em;
  font-style: italic;
}

/* LINKS */
a {
  text-decoration: none;
  color: #eb8526;
  transition: color 0.2s linear;
}

a:hover {
  text-decoration: none;
  color: #a34f00;
}

/* FORM */
.form-wrap {
  background-color: #ffb510;
  width:fit-content;
  border-radius: 3px;
  padding: 5px;
  box-sizing: border-box;
}

input {
  outline: none;
  margin: 5px;
  border: 2px white;
}

form input[type="text"] {
  padding: 12px;
  display: block;
  border-bottom: 3px solid #888;
  width: 400px;
  box-sizing: border-box;
  font-size: .9em;
  margin: 6px;
  font-family: 'Roboto', sans-serif;
}

form input[type="submit"] {
  background-color: #353535;
  color: #FFFFFF
}

form input[type="checkbox"] {
  cursor: pointer;
  margin-left: 2px;
  margin-right: 12px;
}

div.meal-form-div {
  margin-left: 5px;
  margin-bottom: 10px;
  border-left: 10px #353535 solid;
}

div.add {
  background-image: url(assets/add.png);
  background-size: contain;
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
}

div.add:hover {
  background-image: url(assets/add-gry.png);
}


div.icon {
  background-color: transparent;
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
  margin-left: 5px;
  font-size: 0px;
} 