body {
  font-family: 'Roboto', sans-serif;
  color: #353535;
 }

 #all-wrapper {
   width: 75%;
   margin: 0 auto;
   display: grid;
   grid-gap: 3px;
   grid-template-columns: repeat(12, 1fr);
   grid-template-rows: 130px auto 100px;
   grid-template-areas:
      "h h h h h h h h h h h h"
      "n n n c c c c c c c c c"
      "f f f f f f f f f f f f"
 }

 header {
  width: 100%;
  margin-top: 30px;
  grid-area: h;
 }

 #nav-wrap {
  font-size: 1.2em;
  font-weight: 600;
  grid-area: n;
  margin-left: 66px;
 }

 #content-wrap {
   grid-area: c;
 }

 footer {
   margin-top: 100px;
   grid-area: f;
 }

 div.meal {
   background-color: #FFD987;
   border-radius: 3px;
   padding: 10px;
   box-sizing: border-box;
 }

 #logo {
  width: 275px;
 }

 /* LINKS */
 a {
  text-decoration: none;
  color: #eb8526;
  transition: color 0.2s linear;
  }

 a:hover {
    text-decoration: none;
    color: #000;
  }